blinker==1.7.0
click==8.1.7
et-xmlfile==1.1.0
Flask==3.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
openpyxl==3.1.2
Pillow==10.1.0
Werkzeug==3.0.1

######new below from the oracle compute instance
click==8.0.4
dataclasses==0.8
et-xmlfile==1.1.0
Flask==2.0.2
gunicorn==20.1.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
openpyxl==3.0.9
Pillow==8.4.0
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0