<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Instructions</title>
    <style>
      body {
        background-color: #333;
        color: #fff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
      }
      a {
        color: #ff6347;
        text-decoration: none;
      }
      a:hover {
        color: #ffa07a;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1>Instructions</h1>
      <ol>
        <li>
          Enter the employee name and department as it appears
          "Employee/Department"
        </li>
        <li>
          Set the period ending to the Saturday the travel occurred. This will
          populate the period end date and correctly populate the dates from
          Sunday to Saturday on the Excel spreadsheet, a tedious time saver.
        </li>
        <li>
          If the expense report includes travel , check the checkbox next to
          travel. Select the start and end travel dates. This will populate the
          breakfast and lunch per diem, excluding breakfast for day one and
          dinner for the final day of travel.
        </li>
        <li>
          Make sure to adjustment to the Excel spreadsheet as needed post
          creation to ensure the document is accurate.
        </li>
      </ol>
      <p>
        Please note that this application generates an Excel document based on
        your form inputs. Some browsers may block the automatic download of
        files as a security measure. If you're not seeing the Excel file
        download after submitting the form, please check your browser settings
        to ensure that file downloads are allowed.
      </p>
      <p><a href="/">Back to Form</a></p>

      <a href="https://www.youtube.com/watch?v=A88ts9t7V5M" target="_blank"
        >Watch the instruction video here</a
      >
    </div>
  </body>
</html>
